{% extends "base.html" %}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Login{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    
    {% block content %}
    <div class="container">
        <h2>Login</h2>
        <form method="POST" action="{{ url_for('login') }}" class="form-group">
            <div>
                <label for="gid" class="form-label">GID</label>
                <input type="text" name="gid" class="form-control" required>
            </div><br>
            <div>
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required>
            </div><br>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    {% endblock %}

</body>
</html>