
{% extends "base.html" %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Nomination</title>
</head>
<body>
    {% block content %}
    <h2>New Nomination</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.category_id.label }}<br>
            <select id="category" name="category_id" onchange="updateAwardsList()">
                <option value="">Select Category</option>
                {% for category_id, category_name in form.category_id.choices %}
                    <option value="{{ category_id }}">{{ category_name }}</option>
                {% endfor %}
            </select>
            {% for error in form.category_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <label for="award">Award:</label><br>
            <select id="award" name="award">
                <option value="">Select an Award</option>
            </select>
        </p>
        <p>
            {{ form.nominee_name.label }}<br>
            {{ form.nominee_name(size=32) }}<br>
            {% for error in form.nominee_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.nominee_global_id.label }}<br>
            {{ form.nominee_global_id(size=32) }}<br>
            {% for error in form.nominee_global_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.nominee_email.label }}<br>
            {{ form.nominee_email(size=32) }}<br>
            {% for error in form.nominee_email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.nominated_by_name.label }}<br>
            {{ form.nominated_by_name(size=32, readonly=True) }}<br>
            {% for error in form.nominated_by_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p>
            {{ form.nominated_by_global_id.label }}<br>
            {{ form.nominated_by_global_id(size=32, readonly=True) }}<br>
            {% for error in form.nominated_by_global_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p>
            {{ form.nominated_by_email.label }}<br>
            {{ form.nominated_by_email(size=32, readonly=True) }}<br>
            {% for error in form.nominated_by_email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.comments.label }}<br>
            {{ form.comments() }}<br>
        </p>
        <p>
            {{ form.status.label }}<br>
            {{ form.status(disabled=True) }}<br>
            <input type="hidden" name="status" value="In-progress">
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('user_dashboard') }}">Back to Dashboard</a>

    <script>
        function updateAwardsList() {
            var categoryId = document.getElementById('category').value;
            var awardSelect = document.getElementById('award');
            awardSelect.innerHTML = '<option value="">Select an Award</option>'; // Clear previous options


            if (categoryId) {
                fetch(`/get_awards/${categoryId}`)
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(award => {
                            var option = document.createElement('option');
                            option.value = award.name;
                            option.textContent = award.name;
                            awardSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error fetching awards:', error));
            }
        }
    </script>
    {% endblock %}
</body>
</html>
