
{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
    {% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Register{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <button class="btn btn-secondary back-button" onclick="history.back()">Back</button>
    <div class="container">
        <h3>Register</h3>
        <form method="POST" action="{{ url_for('register') }}" class="form-group">
            <div>
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" required>
            </div><br>
            <div>
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required>
            </div><br>
            <div>
                <label for="gid" class="form-label">GID</label>
                <input type="text" name="gid" class="form-control" pattern="\d{6}" title="GID must be a 6-digit number" required>
            </div><br>
            <div>
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" required>
            </div><br>
            
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>

</body>
{% endblock %}
</html>
