
{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
    {% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Select Nomination{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container{
            padding: 15px;
        }
    </style>
</head>
<body>
    <button class="btn btn-secondary back-button" onclick="history.back()">Back</button>
    <div class="container">
        {% if categories %}
            <h1>Select a Nomination</h1>
            <form method="POST" class="form-group">
                <label for="category_id" class="form-label">Category:</label>
                <select name="category_id" id="category_id" class="form-control mb-3" required> 
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Continue</button>
            </form>
        {% else %}
        <h3>No Nomination Opened</h3>
        {% endif %}
    </div> 
    
</body>
{% endblock %}
</html>