
{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
    {% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}View Nominees{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        table {
            width: auto;
            table-layout: auto;
            border-collapse: collapse;
        }
        .container{
            width: auto;
            padding: 20px;
            overflow-x: auto;
            max-width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        
        form {
            display: inline;
        }

    </style>
</head>
<body>
    <button class="btn btn-secondary back-button" onclick="history.back()">Back</button>
    
    <div class="container">
        <a href="{{ url_for('new_nomination') }}" class="btn btn-success">Add Nomination</a><br><br>
        {% if nominees %}
        <h2>View Nominees</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Nominee Global ID</th>
                    <th>Nominee Name</th>
                    <th>Nominee Email</th>
                    <th>Nominated By</th>
                    <th>Comments</th>
                    <th>Status</th>
                    <th>Category Name</th>
                    <th>Award Name</th>
                    <th>Team Name</th>
                    {% if nominees|selectattr('nominated_by_email', 'equalto', 'session["email"]') and nominees|selectattr('status', 'in', ['In-Progress', 'Send-Back']) %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for nominee in nominees %}
                    <tr>
                        <td>{{ nominee.nominee_global_id }}</td>
                        <td>{{ nominee.nominee_name }}</td>
                        <td>{{ nominee.nominee_email }}</td>
                        <td>{{ nominee.nominated_by_name | title }}</td>
                        <td>{{ nominee.comments }}</td>
                        <td>{{ nominee.status }}</td>
                        <td>{{ nominee.category.name }}</td>
                        <td>{{ nominee.award_name }}</td>
                        <td>{{ nominee.team_member_name }}</td>
                        <td>
                        {% if session['email'] == nominee.nominated_by_email and nominee.status in ['In-Progress', 'Send-Back']%}
                            
                                <a href="{{ url_for('edit_nomination', nomination_id=nominee.id) }}" class="btn btn-primary">Edit</a>
                            
                        {% endif %}
                        {% if 'full_access' in role_names_list or 'reviewer' in role_names_list %}
                                <form method="POST" action="{{ url_for('update_nomination_status', nomination_id=nominee.id) }}">
                                    <input type="hidden" name="action" value="approve">
                                    <button type="submit" class="btn btn-success">Approve</button>
                                </form>&nbsp;
                                <form method="POST" action="{{ url_for('update_nomination_status', nomination_id=nominee.id) }}">
                                    <input type="hidden" name="action" value="reject">
                                    <button type="submit" class="btn btn-danger">Reject</button>
                                </form>&nbsp;
                                <form method="POST" action="{{ url_for('update_nomination_status', nomination_id=nominee.id) }}">
                                    <input type="hidden" name="action" value="send_back">
                                    <button type="submit" class="btn btn-secondary">Send Back</button>
                                </form>
                            
                        {% endif %}
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h5 class="fw-bold fs-5">No Nominations Yet</h5>
        {% endif %}
    </div>
    
</body>
{% endblock %}
</html>